<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title class="centered-title">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Imagen de perfil -->
  <div class="perfil-image-container">
    <img [src]="photo" alt="Imagen de perfil" class="perfil-image">
  </div>

  <!-- Botones -->
  <ion-button class="perfil_button" expand="block" color="tertiary" routerLink="/Mis-Gatos">Ver mis gatos</ion-button>
  <ion-button class="perfil_button" expand="block" color="tertiary" routerLink="/Agregar-Gato">Agregar un gato</ion-button>
  <ion-button class="perfil_button" expand="block" color="tertiary" routerLink="/Datos-Personales">Datos personales</ion-button>
  <ion-button class="perfil_button" expand="block" color="tertiary" id="icon-log-out" fill="outline" color="danger" >Cerrar Sesión</ion-button>

  <ion-alert trigger="icon-log-out" header="¿Desea cerrar sesión?" [buttons]="alertButtons" ></ion-alert>


</ion-content>
