.error-alert{
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    background-color: red;
    color: white;
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // transform: translateY(-100%);
    // animation: slide-up 4s linear forwards;
}

.error-alert__button{
    --padding-top: 0;
    --padding-bottom: 0;
    margin: 0;
}

// @keyframes slide-up {
//     0% {
//       transform: translateY(0);
//       opacity: 0;
//     }
//     5% {
//       transform: translateY(calc(-100%));
//       opacity: 1;
//     }
//     25% {
//       transform: translateY(calc(-100%));
//       opacity: 1;
//     }
//     50% {
//       transform: translateY(calc(-100%));
//       opacity: 1;
//     }
//     70% {
//       transform: translateY(calc(-100%));
//       opacity: 1;
//     }
//     85%{
//         transform: translateY(calc(-50%));
//         opacity: 0.5;
//     }
//     100% {
//       transform: translateY(0);
//       opacity: 0;
//     }
//   }
  
  