:root {
    --ion-color-success: #08937c;
}

#header{
    height: 76px;
    display: flex;
}
#title{
    font-weight:900;
    font-size: 1rem;
}
#subtitle{
    font-weight:600;
}

#img{
    max-height: 100%; 
}

//Modifica los estilos del card
.boton-ver{
    width: 50%;
    height: 100%;  
    color: black;
}

#contenedor-botones{
    display: flex;
}

#contenedor-close{
    display: flex;
    justify-content: flex-end;
}
#header-title{
    font-weight:900;
    height: 76px;
}
#toolbar{
    height: 76px;
}

.large-icon {
    font-size: 2rem; /* Cambia el valor según tus necesidades */
    opacity: 0.5  
}

  .boton-superpuesto {
    /* Estilos para el botón que estará encima */
    position: absolute;
    z-index: 2; /* Ajusta el valor de z-index según tus necesidades para superponer correctamente */
    opacity: 0.6; /* Ajusta la posición izquierda según tus necesidades */
    height: 36px;
  }


.back-to-perfil{
    position: absolute;
    z-index: 20;
    top: 1rem;
    left: 1rem;
}