:root {
    --ion-color-success: #08937c;
}

#header{
    height: 76px;
    display: flex;
}
#title{
    font-weight:900;
    font-size: 1rem;
}
#subtitle{
    font-weight:600;
}

#img{
    max-height: 100%; 
}