#header{
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/262/228/non_2x/cat-paws-black-and-white-background-flat-design-cute-cat-paws-wallpaper-illustration-vector.jpg);
    background-repeat: repeat;
}
#title{
    font-weight:900;
    font-size: 1rem;
}
#subtitle{
    font-weight:600;
}

#img{
    max-height: 100%; 
}

#boton-ver{
        width: 100%;
        height: 100%;
       
        color: black;
}

